.shop{
    height: 350px;
    width:350px;
    border: 2px solid black;
    margin:20px;
    padding: 5px;
    


}

.box{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    margin-right: 50px;
}

.nav{
    position: sticky;
    top: 0;
}

body{
    background: #EEAECA;
background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(213, 177, 211, 1) 28%, rgba(194, 180, 217, 1) 49%, rgba(159, 185, 229, 1) 88%, rgba(148, 187, 233, 1) 100%);
}

